* {
    box-sizing: content-box;
}

body {
    margin: 0;
}

.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: [column-1-start] 30% [column-1-end column-2-start] 70% [column-2-end];
    grid-template-rows: [row-1-start ] 20% [row-1-end row-2-start] 60% [row-2-end row-3-start] 20% [row-3-end];
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    color: white;
    margin: 1rem 1rem;
    grid-column-start: column-1-start;
    grid-column-end: column-2-end;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    color: white;
    margin: 1rem 1rem;
    grid-column-start: column-1-start;
    grid-column-end: column-1-end;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    color: white;
    margin: 1rem 1rem;
    grid-column-start: column-2-start;
    grid-column-end: column-2-end;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    color: white;
    margin: 1rem 1rem;
    grid-column-start: column-1-start;
    grid-column-end: column-2-end;
    
}